@import "../../styles/colors.scss";

.cart-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: $secondary-color;
    position: absolute;
    right: 20px;
    z-index: 10000;
    box-shadow: 0 0 10px $primary-color;

    .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 15px;
        border-bottom: 2px solid $dark-text-color;

        span {
            font-weight: 600;
        }

        :first-child {
            margin-right: auto;
        }
    }

    p {
        text-align: center;
        font-weight: 500;
        padding: 20px 0;
    }

    .cart-item-container {
        display: flex;
        justify-content: space-between;
        padding: 6px 0;

        span:nth-child(1) {
            width: 243px;
            text-align: left;
        }
    }

    .cart-footer {
        display: flex;
        flex-direction: column;
        border-top: 2px solid $dark-text-color;
        margin-top: 10px;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:last-child {
                font-weight: 600;
                color: $primary-color;
            }
        }
    }
}