@import "../../styles/colors";

header {
    height: 48px;
    background: $primary-color;
    align-content: center;
    padding: 10px;
    nav {
        display: flex;
        gap: 20px;
        justify-items: center;
        :first-child {
            margin-right: auto;
        }

        button {
            width: 48px;
            height: 24px;
            border: 0;
            outline: none;
            background: transparent;
            
            &:hover {
                cursor: pointer;
            }

            img {
                height: 24px;
            }
        }
    }
}