@import "../../styles/colors";

header {
    height: 48px;
    background: lighten($primary-color, 10);
    align-content: center;
    padding: 10px;
    nav {
        display: flex;
        gap: 20px;
        justify-items: center;
        :first-child {
            margin-right: auto;
        }
    }
}