@import "../../styles/colors.scss";

.book-container {
    display: flex;
    flex-direction: column;
    background: darken($secondary_color, 10%);
    padding: 15px;
    
    h3 {
        font-size: 0.92rem;
        font-weight: 500;
        padding: 10px 0;
    }

    img {
        width: 100%;
    }

    p {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        padding: 10px 0;
    }

    button {
        background: $primary_color;
        padding: 10px;
        color: $secondary_color;
        outline: 0;
        border: 0;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1.2px;
        border-radius: 25px;
        transition: transform 0.5s ease;

        &:hover {
            background: lighten($primary_color, 10%);
            cursor: pointer;
        }

        &:active {
            transform: scale(90%);
        }
    }
}